|Howdy, #{user.display_name}!
br
br
|It's about time to confirm the bank account you inserted on #{Configuration[:company_name]} days ago.
br
br
|Go to #{link_to neighborly_balanced.new_confirmation_path, neighborly_balanced.new_confirmation_path} and finish the process.
br
br
|High fives,
br
|The #{Configuration[:company_name]} Team
